html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}





/* HEADER */

header ul {
	display: flex;
	justify-content: space-between;

}

header li {
	font-size: 25px;
	color: white;
	display: flex;
	margin-left: 5%;
	margin-right: 5%;
}

header a {
	margin-top: 40px;
	text-align: center;
	text-decoration: none;
	color: white;
}

header a:hover {
	text-transform: uppercase;
}

.sticky {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transition: background-color 0.3s ease-in-out;
	background-color: transparent;
	z-index: 1000;
	height: 100px;
}

.sticky.blue {
	background-color: #03224c;
}

/* SLIDE */

#slide {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-image: url('Images/desktop.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	overflow: hidden;

}

#text {
	position: absolute;
	right: -100%;
	top: 50%;
	transform: translateY(-50%);
	font-size: 40px;
	font-weight: bold;
	color: #fff;
	white-space: nowrap;
	text-shadow: 1px 1px 1px #000;
	display: flex;
	flex-direction: column;
	align-items: center;
}

span {
	font-size: 26px;
}


/* RESUME */

.resume {
	color: #000;
	padding-top: 5%;
	padding-bottom: 5%;
	height: 50vh;
}

.resume .title h1 {
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	font-size: 40px;
	margin-bottom: 50px;
}

.resume .content {
	display: flex;
	justify-content: space-between;
	margin-left: 10%;
	margin-right: 20%;
}

.resume .text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 100px;
	width: 100%;
}

.resume .text p {
	font-size: 24px;
	line-height: 30px;
}

.resume .content .cv img {
	height: 300px;
	width: 250px;
	margin-top: 20px;
	margin: auto;
}

.cv:hover{
	content:"cliquer pour l'afficher en plein écran";
	transform: scale(1.2);
}


/* SITUATION */

.situation {
	background-color: black;
	color: white;
	padding-top: 5%;
	padding-bottom: 5%;
}

.situation .title h1 {
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	font-size: 40px;
	margin-bottom: 50px;
}

.situation .content p {
	font-size: 26px;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
}

/* COMPETENCES */

/* .competences {
	padding-top: 5%;
	padding-bottom: 5%;
}

.competences .title {
	display: flex;
	align-items: center;
	justify-content: center;
}

.competences .title h1 {
	text-transform: uppercase;
	font-size: 40px;
	margin-bottom: 50px;
}

.skill {
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.skill h3 {
	font-size: 35px;
	margin: 20px;

}

.skill-name {
	font-weight: bold;
	margin: 20px;
}

.skill-progress {
	width: 50%;
	height: 20px;
	background-color: #f2f2f2;
	border-radius: 10px;
	overflow: hidden;
}

.progress-CSS {
	height: 100%;
	background-color: #03224c;
	width: 80%;
	transition: width 0.5s ease-in-out;
}

.progress-HTML {
	height: 100%;
	background-color: #03224c;
	width: 80%;
	transition: width 0.5s ease-in-out;
}

.progress-JS {
	height: 100%;
	background-color: #03224c;
	width: 50%;
	transition: width 0.5s ease-in-out;
}

.progress-sql {
	height: 100%;
	background-color: #03224c;
	width: 50%;
	transition: width 0.5s ease-in-out;
}

.progress-figma {
	height: 100%;
	background-color: #03224c;
	width: 70%;
	transition: width 0.5s ease-in-out;
}
*/ 

.competences {
	padding-top: 5%;
	padding-bottom: 5%;
}

.competences .title {
	display: flex;
	align-items: center;
	justify-content: center;
}

.competences .title h1 {
	text-transform: uppercase;
	font-size: 40px;
	margin-bottom: 50px;
}

.skill {
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.skill h3 {
	font-size: 35px;
	margin: 20px;
}

.competences .front-end, .back-end, .autre {
	display: flex;
	flex-direction: column;	
	align-items: center;
	justify-content: center;
}


/* CURRENTLY */

.currently {
	background-color: black;
	color: white;
	padding-top: 5%;
	padding-bottom: 5%;
}

.currently .title h1 {
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	font-size: 40px;
	margin-bottom: 50px;
}

.currently .content {
	display: flex;
	justify-content: space-between;
	margin-left: 10%;
	margin-right: 10%;

}

.currently .content .learn,
.curious,
.next {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.currently .content .learn p,
.curious p,
.next p {
	font-size: 26px;
	margin-bottom: 30px;
	text-decoration: underline;
	text-decoration-thickness: 1px;
}

.currently .content .learn h3,
.curious h3,
.next h3 {
	font-size: 30px;
	text-transform: uppercase;
}

/* project */

.project {
	margin: auto;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
}

.project .title h1 {
	text-transform: uppercase;
	font-size: 40px;
}

figure {
	display: none;
	margin: 0;
}

figure.is-active {
	display: block;
}

button {
	padding: 20px;
}


.project h3 {
	font-family: 'OFL Sorts Mill Goudy TT';
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 119px;
  color: black;
}

/* LGDD_design */

.lgdd_design {
	color: white;
	padding-bottom: 4%;
}

.lgdd_design .content_lgdd {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.lgdd_design .content_project {
	display: flex;
	align-items: center;
	justify-content: space-around;

}

.lgdd_code{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.lgdd_code a {
	color: black;
	text-decoration: underline;
	font-size: 30px;
}


.lgdd_design figure img {
	width: 900px;
	height: 500px;
}

figure {
	display: none;
	margin: 0;
}

figure.is-active {
	display: block;
}

.btn-prev_lgdd, .btn-next_lgdd{
	padding: 20px;
	margin: auto;
	background-color: #760421;
	color: white; 
	border-radius: 50%;
	border: none;
	height: 60px;
	width: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}


/* LGDD CODE */ 



/* NETFLIX */ 

.content_netflix .content_project {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.content_netflix img {
	width: 900px;
	height: 500px;
}

.content_netflix .btn-prev_netflix, .btn-next_netflix {
	padding: 20px;
	margin: auto;
	background-color: black;
	color: white; 
	border-radius: 50%;
	border: none;
	height: 60px;
	width: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.netflix_code a {
	color: black;
	text-decoration: underline;
	font-size: 30px;
}

/* contact */

.contact {
	margin-bottom: 5%;
	background-color: black;
	color: #fff;
	padding-bottom: 2rem;
}

.contact .content {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
}

.contact h1 {
	font-size: 30px;
	text-transform: uppercase;
	line-height: 80px;
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.contact .content a{
  text-decoration: none;
  color: black;
}

.contact .content .fa-solid, .fa-brands{
	font-size: 40px;
	color: white;
}